<%= form_for(@statistics_entry) do |f| %>
  <% if @statistics_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statistics_entry.errors.count, "error") %> prohibited this statistics_entry from being saved:</h2>

      <ul>
      <% @statistics_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :process_manager_id %><br />
    <%= f.number_field :process_manager_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
