<div id="workspace-container" class="container">
  <ul class="nav nav-tabs" id="myTab">
    <li class="dropdown active">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">Recipes <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="active"><a href="#recipe_manager" data-toggle="tab">Recipe Manager</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">Controllers <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#controller1" data-toggle="tab">Controller 1</a></li>
        <li><a href="#controller2" data-toggle="tab">Controller 2</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="" class="dropdown-toggle" data-toggle="dropdown">Robots <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#robot1" data-toggle="tab">Quattro 1</a></li>
        <li><a href="#robot2" data-toggle="tab">Quattro 2</a></li>
      </ul>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="recipe_manager">
      <h3>Recipe Manager</h3>
      <br />
      <%= render 'recipe_manager' %>
    </div>
    <div class="tab-pane" id="controller1">
      <h3>Controller 1</h3>
      <br />
      <%= render 'controller' %>
    </div>
    <div class="tab-pane" id="controller2">
      <h3>Controller 2</h3>
      <br />
      <%= render 'controller' %>
    </div>
    <div class="tab-pane" id="robot1">
      <h3>Robot 1</h3>
      <br />
      <%= render 'robot' %>
    </div>
    <div class="tab-pane" id="robot2">
      <h3>Robot 2</h3>
      <br />
      <%= render 'robot' %>
    </div>
  </div>
</div>
<!-- /container -->