<%= form_for(@process_manager) do |f| %>
  <% if @process_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@process_manager.errors.count, "error") %> prohibited this process_manager from being saved:</h2>

      <ul>
      <% @process_manager.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workspace_path %><br />
    <%= f.text_field :workspace_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
