<h1>Listing data_item_values</h1>

<table>
  <tr>
    <th>Data item</th>
    <th>Current value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_item_values.each do |data_item_value| %>
  <tr>
    <td><%= data_item_value.data_item_id %></td>
    <td><%= data_item_value.current_value %></td>
    <td><%= link_to 'Show', data_item_value %></td>
    <td><%= link_to 'Edit', edit_data_item_value_path(data_item_value) %></td>
    <td><%= link_to 'Destroy', data_item_value, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data item value', new_data_item_value_path %>
